@font-face {
    font-family: 'Mikado black';
    src: url('/fonts/mikado/HVD\ Fonts\ \ MikadoBlack.otf') format('opentype');
    font-weight: normal; /* Valfritt: normal, bold, etc. */
    font-style: normal;  /* Valfritt: normal, italic, etc. */
}

@font-face {
    font-family: 'Mikado regular';
    src: url('/fonts/mikado/HVD\ Fonts\ \ MikadoRegular.otf') format('opentype');
    font-weight: normal; /* Valfritt: normal, bold, etc. */
    font-style: normal;  /* Valfritt: normal, italic, etc. */
}

/* Font och body-styling */
body {
    font-family: "Mikado regular", sans-serif;
    font-size: clamp(18px, 1.6rem, 21px);
    line-height: 1.6; /* Förbättrar läsbarheten */
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff; /* Detta gör att all text i body är vit */
}

body * {
    position: relative;
    z-index: 2; /* Se till att innehållet ligger ovanför overlay */
}

.skip-link {
    position: absolute; /* Positionera den utanför skärmen */
    align-content: center;
    left: -9999px; /* Dölja den från visningen */
    top: 0; /* Justera positionen */
    transition: left 0.3s ease; /* Övergångseffekt för att visa den */
    background: #000;
}

.skip-link:focus {
    left: 0; /* Visa den när den får fokus */
    z-index: 3000   ;
}

/* Header */
header {
    display: flex; /* Använd flexbox */
    flex-direction: column; /* Ställ in riktningen till kolumn */
    align-items: center; /* Centrera horisontellt */
    text-align: center; /* Centrera texten */
    color: #fff; /* Om du vill att texten ska vara vit */
    padding: 0 10% 0% 10%; /* Justera padding efter behov */
    font-family: 'Mikado black';
    font-size: large;
}

.logo {
    width: clamp(140px, 25%, 300px); /* Justera storleken efter behov */
}

.logo-link {
    display: inline-block; /* Gör så att länken bara täcker logotypens yta */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

nav ul li a.active {
    color: #E93BAC;
    text-decoration: none;
}

.hero-section {
    display: flex; /* Använd flexbox */
    flex-direction: column; /* Ställ in riktningen till kolumn */
    justify-content: center; /* Centrera vertikalt */
    align-items: center; /* Centrera horisontellt */
    text-align: center; /* Centrera texten */
    padding: 5% 10% 5% 10%; /* Justera padding efter behov */
}

.hero-section h1 {
    margin: 0; /* Ta bort eventuell marginal för att centrera rubriken exakt */
}

.hero-section a {
    display: inline-block; /* Gör så att länken beter sig som en blocknivåelement */
    margin-top: 10px; /* Justera avståndet mellan rubriken och knappen */
}

main {
    padding: 0 10% 5% 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mikado black', sans-serif;
    margin-bottom: 10px; /* Justera till önskad marginal under rubrikerna */
}

h1 {
    font-size: clamp(34px, 3rem, 44px);
    text-transform: uppercase; /* Gör alla h1-rubriker till versaler */
    text-align: center;
}

h2 {
    font-size: clamp(32px, 2rem, 40px);
    text-align: center;
}

h3 {
    font-size: clamp(20px, 1.5rem, 30px);
}


a {
    cursor: pointer;
    color: #E93BAC; /* Sätter färgen på alla länkar */
    text-decoration: underline; /* Gör så att alla länkar är understrukna */
}

a:hover {
    color: #6BCABA;
    text-decoration: none;
}

p {
    margin: 0.8rem 0;
}

strong {
    font-family: 'Mikado Black';
}



/* Standardknapp */
button {
    cursor: pointer;
    background-color: #E93BAC; /* Bakgrundsfärg som matchar din design */
    color: white; /* Textfärg */
    padding: 1rem; /* Padding för att ge utrymme */
    border: none; /* Ingen kantlinje */
    border-radius: 5px; /* Rundade hörn */
    font-family: 'Mikado regular';
    font-size: large;
    font-weight: normal; /* Fet stil för texten */
    cursor: pointer; /* Visar pekhanden */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Övergångseffekter */
}

button:hover {
    background-color: #d82a8c; /* Mörkare nyans vid hovring */
    transform: scale(1.05); /* Lätt förstoring vid hovring */
}

button:active {
    transform: scale(1); /* Återställ storleken vid klick */
}



/* Search and filter form */
#searchForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #222;
    padding: 30px;
    border-radius: 8px;
}

#searchForm input,
#searchForm select {
    font-family: 'Mikado regular', sans-serif;
    font-size: 1rem;
    padding: 15px;
    border-radius: 5px;
    width: 100%; /* Gör alla fält 100% breda */
}

#searchInput,
#yearFilter,
#genreFilter,
#searchForm button {
    width: 100%; /* Se till att knappen också är 100% bred */
}

/* Results grid */
.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolumner */
    gap: 26px 16px;
}

/* Movie card styling */
.movie {
    position: relative; /* Gör så att overlay kan positioneras relativt till filmen */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    color: #000;
    position: relative; /* Gör så att overlay kan positioneras relativt till filmen */
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    height: auto;
}

.movie h3 {
    margin: 10px;
}

.movie p {   
    margin: 10px;
    color: #000;
    font-size: 1rem;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    background-color: #fff;
    color: #000;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modalDetailsImg img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.modal h3 {
    font-size: xx-large;
    margin-top: 0;
}

.modal button {
    width: 100%;
}

/* Pagination */
.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Dela upp utrymmet mellan barnen */
    gap: 20px; /* Justera gapet till ett mer rimligt värde */
    margin: 20px 0;
    text-align: center;
}

.pagination-info {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #666;
    text-align: center;
}

/* Footer */
footer {
    padding: 5% 10% 5% 10%;
    position: relative; /* Se till att footern är relativt positionerad */
    bottom: 0; /* Sätter footern till botten av sidan */
    color: #fff;
    text-align: left;
    background-color: #222; /* Bakgrundsfärg för footern */
    font-size: medium;
}

footer img {
    width: 80%;
}

.social-media ul {
    list-style-type: none; /* Tar bort punkterna framför listpunkterna */
    padding: 0; /* Tar bort eventuell padding */
    margin: 0; /* Tar bort eventuell margin */
}

/* Topplista styling */
.toplist-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolumner */
    gap: 26px 16px;
}

/* Overlay för filmens placering */
.movie {
    position: relative; /* Gör så att overlay kan positioneras relativt till filmen */
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Svart transparent bakgrund */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mikado Black'; /* Specifik typsnitt */
    font-size: clamp(2rem, 60px, 6rem); /* Större storlek för siffran */
    font-weight: bold; /* Fet stil */
    opacity: 1; /* Visar overlay som standard */
    transition: opacity 0.3s ease; /* Lägger till en övergångseffekt */
    z-index: 1000; /* Se till att overlay ligger ovanpå bilden */
}

.movie:hover .movie-overlay {
    opacity: 0; /* Döljer overlay när man hovrar över filmen */
}

.cta-section {
    background-color: #fff; /* Bakgrundsfärg för att sticka ut */
    background-image: url('img/hemmakvall.jpg'); /* Bakgrundsbild */
    background-size: cover; /* Gör så att bilden täcker hela div:en */
    background-position: center;
    color: #fff; /* Textfärg */
    padding: 1rem; /* Padding för att ge utrymme */
    border-radius: 10px; /* Rundade hörn */
    text-align: center; /* Centrera texten */
    margin-top: 20px;
    position: relative; /* Gör så att overlay kan positioneras relativt till div:en */
}

/* Overlay */
.cta-section::before {
    content: ""; /* Skapa en pseudo-element för overlay */
    position: absolute; /* Positionera overlayen absolut */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Svart transparent bakgrund */
    z-index: 1; /* Se till att overlay ligger ovanpå bilden */
}

.notification {
    position: fixed;
    top: 50%; /* Centrera vertikalt */
    left: 50%; /* Centrera horisontellt */
    transform: translate(-50%, -50%); /* Justera för att centrera exakt */
    background-color: #fff;
    color: #000;
    padding: 15px;
    border: 3px solid #E93BAC;
    border-radius: 5px;
    z-index: 2000; /* Se till att den ligger ovanpå annat innehåll */
    display: flex;
    flex-direction: column; /* Ändra till kolumn för att stapla elementen */
    align-items: center; /* Centrera innehållet horisontellt */
    min-width: 300px; /* Sätt en minimi-bredd för notifieringsrutan */
    text-align: center; /* Centrera texten */
}

.notification button {
    margin-top: 10px; /* Lägg till avstånd mellan texten och knappen */
}

.notification.hidden {
    display: none; /* Döljer notifieringsrutan */
}

.watch-list,
.favorite-list {
    text-align: center; /* Centrera all text inom sektionerna */
    margin: 20px 0; /* Justera marginaler om det behövs */
}

/* Surfplatta */
@media (min-width: 768px) {
    .modal-columns {
        top: 0;
        display: flex;
        flex-direction: row; /* Ändrat till rad för desktop */
        gap: 20px;
    }
    .modalDetailsImg,
    .modalDetailsText {
    flex: 1; /* Gör så att bilden tar upp 50% av bredden */
    max-width: 50%; /* Maxbredd för desktop */
}

.modalDetailsText {
    max-width: 100%; /* Maxbredd för desktop */
    display: flex;
    flex-direction: column;
}

.toplist-results {
    grid-template-columns: repeat(3, 1fr);
}

.results {
    grid-template-columns: repeat(3, 1fr); /* 3 kolumner */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-container div {
    flex: 1;
}

}

/* CSS för större skärmar som laptops/desktops */
@media (min-width: 1025px) {
    #searchForm {
        display: flex; /* Ändra till flex för att använda flexbox */
        flex-direction: row; /* Visa elementen i en rad */
        flex-wrap: wrap; /* Tillåt att elementen bryts till nästa rad om det behövs */
    }

    #searchInput {
        flex: 2;
    }
    
    #yearFilter {
        flex: 1;
    }
    
    #genreFilter {
        flex: 1;
    }

    #searchForm button {
        flex: 1;
    }
    
    .toplist-results {
        grid-template-columns: repeat(5, 1fr);
    }

    .results {
        grid-template-columns: repeat(5, 1fr);
    }

    header {
        align-items: left;
        flex-direction: row; /* Ändra till rad för större skärmar */
        justify-content: space-between; /* Dela upp utrymmet mellan logotyp och navigering */
    }

    #about {
        justify-self: center;
        width: 60%;
    }
}
